html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Verhindert Scrollen */
    touch-action: pan-x pan-y;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Inhalt nach oben ausrichten */
    align-items: center; /* Horizontal zentrieren */
    height: 100vh;

}

#container {
  margin: 20px;
  width: 400px;
  height: 8px;
  position: relative;
}

.progress-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 1vh;
    margin-left: 0.4vh;
    margin-right: 1vh;
    width: 98vw;
    background-color: #D9D9D9;
    border-radius: 4vh;
    height: 10vh;
}

.progress-bar {
    width: 95%;
    height: 4vh;
    border-radius: 2vh;
    overflow: hidden;
    box-shadow: 0 0 1vh 1vh rgba(0, 0, 0, 0.125);
    position: relative;
    
}

.progress-bar::-webkit-progress-value {
    background-color: #14213D; /* Dunkelblau wie im Screenshot */
    border-radius: 2vh;
}

.attributeBar::-webkit-progress-bar {
    background-color: #D9D9D9; /* Hellgrau wie im Screenshot */
    border-radius: 2vh;
}

.progress-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
    pointer-events: none;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    gap: 1em;
}


.content-container {
    display: flex;
    flex-direction: column; /* Ordnet die Kinder-Elemente vertikal an */
    justify-content: flex-start; /* Richtet die Inhalte am oberen Rand aus */
    align-items: center; /* Zentriert die Inhalte horizontal */
    width: 100%;
    height: 60vh; /* Abstand zum unteren Rand */
    padding-top: 7vh; /* Optional: Abstand vom oberen Rand */
}

.quiz-title {
    background-color: #fde9cc;
    border: 1px solid #e7dccc;
    width: 85vw;
    height: 30vh;
    margin-bottom:5vh;
    border-radius: 4vh; /* Abgerundete Ecken */
    box-shadow: 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.277); /* Optional: Schatten für die Box */
    display: flex;
    justify-content: center;
    align-items: center;
}



#question {
    font-size: 5vh; /* Schriftgröße */
    font-weight: bold; /* Fettgedruckter Text */
    font-family: "Inter", sans-serif; /* Schriftart */
}

#slider-container{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column; /* Ordnet die Kinder-Elemente vertikal an */
    width: 80%; /* Breite des Containers */ 
    /* fürs debuggen gerne wieder aktivieren
    background-color: #f0f0f0;  
    border-radius: 10px;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    */
}

.slider-labels {
    display: flex;
    flex-direction: row; /* Ordnet die Kinder-Elemente horizontal an */
    justify-content: space-between; /* Zentriert den Text horizontal */
    align-items: center; /* Zentriert den Text vertikal */
    width: 100%; /* Breite des Containers */
    margin-bottom: 1vh;;
}

.slider-label-text {
    font-size: 2vh; /* Schriftgröße */
    font-style: italic;;
    font-family: "Inter", sans-serif; /* Schriftart */
    color: black; /* Textfarbe */
    width: 15%; /* Breite der Labels */
    text-align: center; /* Zentriert den Text */
}

.slider-bar {
    appearance:none;
    -webkit-appearance: none; /* Entfernt die Standard-Stile des Sliders */
    width: 90%; /* Breite des Sliders */
    height: 3vh; /* Höhe des Sliders */
    border-radius: 10px; /* Abgerundete Ecken */
    outline: none; /* Entfernt den Fokusrahmen */
    background-color: #ffbe56;
    border-radius: 2vh;
}

.slider-bar::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 7vh; /* Set a specific slider handle width */
    height: 7vh; /* Slider handle height */
    border-radius: 3.5vh;
    background: #7a799a; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border: solid 2px black;
    box-shadow: 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, 0.199);;
  }

.slider-marker {
    display: flex; /* Flexbox für die Marker */
    flex-direction: row;;
    justify-content: space-between; /* Zentriert die Marker horizontal */
    align-items: center; /* Zentriert die Marker vertikal */
    width: 80%; /* Breite des Containers */
    margin-top: 2vh; /* Abstand zum Slider */
}

.slider-marker-text {
    font-weight: bold;
    font-family: "Inter", sans-serif; /* Schriftart */
    font-size: 1.5vh; /* Schriftgröße */
}

.quiz-button{
    border: none;
    border-radius: 3vh; /* Abgerundete Ecken */
    margin: 1vh;
    padding: 1.5vh;
    padding-left:10vh;
    padding-right:10vh;
    margin-top: 5vh;;
    background-color: #ffc362;
    box-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.277); /* Optional: Schatten für die Box */
    font-size: 2vh; /* Schriftgröße */
    color: black; /* Textfarbe */
    font-weight: bold; /* Fettgedruckter Text */
    font-family: "Inter", sans-serif; /* Schriftart */
    cursor: pointer; /* Zeigt an, dass es klickbar ist */
}



/* .quiz-button:active {
    background-color: #ff9d00; 
    box-shadow: 0.1vh 0.1vh 0.3vh rgba(0, 0, 0, 0.412); 
    transform: translateY(2px); 
    transition: box-shadow 0.1s, background-color 0.1s, transform 0.1s; 
} */

.quiz-button:focus {
    outline: none; 
    box-shadow: 0 0 0 2px #ffeed4; 
}

.quiz-button:disabled{
    background-color: #ffdfac;
    color: #ffaf2f;
    cursor: not-allowed;
    box-shadow: none;
}

#selected{
    background-color:#ff9d00;
    box-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.559); 
    color: black;;
}

.btn {
    border: none;
    border-radius: 3vh; /* Abgerundete Ecken */
    margin: 1vh;
    padding: 1.5vh;
    padding-left:12vh;
    padding-right:12vh;
    background-color: #7a799a;
    box-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.277); /* Optional: Schatten für die Box */
    color: black; /* Textfarbe */
    font-style:italic;
    font-family: "Inter", sans-serif; /* Schriftart */
    cursor: pointer; /* Zeigt an, dass es klickbar ist */
    font-size: 2vh; /* Schriftgröße */
}



.cD {
    display:none;
}

.icon{
    display:none
}

.quiz-title {
    position: relative;
}

.icons {
    top: 1vh;
    left: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    position:absolute;
}
p {
    display: inline-block; /* Inline-Block-Element */
}

.inputNumber {
    width: 45vh; /* Breite des Eingabefelds */
    height: 15vh; /* Höhe des Eingabefelds */
    font-size: 2vh; /* Schriftgröße */
    font-family: "Inter", sans-serif; /* Schriftart */
    border-radius: 2vh; /* Abgerundete Ecken */
    border: 1px solid #e7dccc; /* Rahmenfarbe */
    padding: 0.5vh; /* Innenabstand */
    color: black;
    background-color: #ffe1be;
    box-shadow: 2px 2px 4px 1px rgb(200, 200, 200);
    text-align: center;;
}

.inputNumber::placeholder {
    color: #736b5d; /* Placeholder-Farbe */
    font-style: italic; /* Kursivschrift für den Placeholder */
    text-align: center;;
}

#resultBtn{
    display:none;
}
.debug-buttons {
    display: none !important;
}
.debug-buttons.show-debug {
    display: inline-block !important;
}